/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}
/* 
@font-face {
	font-family: 'tumblr';
	src: url('fonts/FavoritTumblr-85.ttf');
} */



 

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--padding-I: 5%;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body{
	background-color:  #0D0D0D;
	font-family: 'Roboto', sans-serif;
	color: white;
}

h1{
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	font-size: 2em;
  }
  

  /* header img{
	width: 1.6em;
	height: auto;
	
  } */


	/* /////ANIMATIE TUMBLR///// */

	ul li h1{
		/* display: flex;
		
		justify-content: center; */
		font-size: 2.0rem;
		/* outline: solid green; */
	}

	
	
	
	ul:has(li[animatie="letters"]) {
		/* outline: solid blue; */
		display: flex;
		justify-content: center;
	  }
	
		



	@keyframes yay-animation {
		0%{
		  scale:1;
		}
		10%{
		  translate:0em 0em;
		  scale:1.2 .8; 
		}
		20%{
		  translate:0em -.25em; 
		  scale:.6 1.5;
		  color:var(--highlight-color);
		}
		30%{
		  translate:0em 0em;
		  scale:1.3 .7;
		}
		40%{
		  scale:.9 1.1;
		}
		50%{
		  scale:1;
		}
		100%{
		  scale:1;
		}
	  }
	  
	  li[aria-label="yay"] {
		--highlight-color:rgb(255, 8, 189);
	  }
	  
	  li[aria-label="yay"] h2 {
		font-size:2.5em;
	  }
	  
	   li[aria-label="yay"] span {
		display:inline-block;
		
		transform-origin:center bottom;
		animation-name:yay-animation;
		animation-duration:2s;
		animation-iteration-count:infinite;
		animation-play-state:paused;
	  }
	  
	  li[aria-label="yay"] span:nth-of-type(1) {
		animation-delay:0s;
	  }
	  
	  li[aria-label="yay"] span:nth-of-type(2) {
		animation-delay:.15s;
	  }
	  
	  li[aria-label="yay"] span:nth-of-type(3) {
		animation-delay:.3s;
	  }
	  
	  li[aria-label="yay"]:hover span {
		animation-play-state:running;
	  }
	  
  


       /* /////NAVBAR///// */
ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
	margin-block: 5%;
	padding: 0;
	display: flex;


	/* outline: solid red; */
  }
  
  li {
	margin-right: 1.2em; 
	/* outline: solid green; */
  }
  
  li a {
	display: block;
	padding: 0.7em 1em;
	text-decoration: none;
	color:rgb(153, 153, 153);
	font-weight: 500;
	font-size: 1.2em;
	white-space: nowrap;
  }

  li:nth-child(n):has(a:focus-within)  {        
	border-bottom: 0.2em solid #00aaff; 
	color: white;

}




  li a:hover {
	font-weight: 900;
	color:deeppink;
  }
  
 
 nav{
	display: flex;
	overflow-x: scroll;
	
 }
  
  


  /* /////HASHTAGS///// */
  
  section ul {
	list-style-type: none;
	margin: 0;
	padding: 0.3em;
	display: flex;   
	overflow-x: auto; 
	white-space: nowrap; 

}

section ul li a {
	padding: 0.4em 0.7em 0.4em;
	margin: 0 0.3em; 
	color: #000000;
	text-align: center;
	font-weight: 700;
}

section ul li  {
	border-radius: 2em;
}

section ul li:nth-child(1){
	background-color:#BFB639;
	
}

section ul li:nth-child(2) {
    background-color: #F27405; 
    

}

section ul li:nth-child(3){
	background-color: #F24130;
	
}


section ul li:nth-child(4){
	background-color: #F263CC;
	
}

section ul li:nth-child(5){
	background-color: #705CF2;
	
}
section ul li:nth-child(6){
	background-color: #6CD9A6;
	
}
section ul li:nth-child(7){
	background-color: #F24130;
	
}
section ul li:nth-child(8){
	background-color: #F27405;
	
}

section ul li:nth-child(9){
	background-color: #705CF2;
	
}





/* ////////POSTS/////// */


/* bron voor bovenste deel van post: https://chatgpt.com/c/66fd5280-685c-8006-b98a-e9e843966f0f */

article {
    background-color:#222222;
    max-width: 30em;
    margin:  1.25em auto;
    box-shadow: 0em 0.125em 0.5em rgba(0, 0, 0, 0.1);
    color: black;
}
 
/* bovenste deel */
article section[aria-label="bovenstuk"] {
	display: flex; 
    align-items: center; 
    padding-inline: var(--padding-I);
	padding-top: 0.5em;

	font-size: .875rem;
	font-weight: 400;
	line-height: 1.125rem;
}

article section[aria-label="bovenstuk"] p{
	
    font-size: 1em;
    color: white;
}

article section img[aria-label="profielfoto"] {
	width: 5em;  
    height: auto;
    margin-right: 0.5em;
}


section[aria-label="bovenstuk"] img[aria-label="stipjes"] {
    width: 1.5em;
    height: auto;
    margin-left: auto;             
}


 article  p {
    font-size: 1em;
    line-height: 1.6;
    color: #B2B2B2;
	padding-inline:var(--padding-I);
}


/* Content */

figure {
    margin: 0.5em;
}

figure img {
    width: 100%;
    height: auto;
}



/* onderste deel */

article section[aria-label="info"] {
    font-size: 0.9em;
    color: #777;
    text-align: right;
	display: flex;
	justify-content: space-between;
	padding-inline:var(--padding-I)
}

section[aria-label="info"] [aria-label="space"]{
	flex-grow: 1;
}

article section[aria-label="info"] a {
    color: #0066cc;
    text-decoration: none;
}


section[aria-label="info"] [aria-label="buttons"] {
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 30% ;
	justify-content: space-around;
	height: auto;
}

section[aria-label="info"] [aria-label="buttons"] img{
	width: 2em;
	height: auto;
}

section[aria-label="info"] p {
	display: inline-block;
	text-align: center;
	background-color: transparent; 
	border: 0.13em solid #434343; 
	padding: 0.5em 1em;
	border-radius: 2em; 
	color: white; 
	font-size: 1em; 
	font-weight: 600; 
	}



